
<div class="innerContainer">
  <div class="topnav">
    <a class="navbar-brand">
      <img src="../assets/images.png"  >
      
    </a>
    <a  href="" style=" margin-top: 1rem;">Home</a>
    <a style=" margin-top: 1rem;">Trustees</a>
    <a  style=" margin-top: 1rem;">Professionals</a>
    <a  style=" margin-top: 1rem;">More</a>
    <div class="topnav-right">
   
      <a  style=" margin-top: 1.5rem; margin-right: 1rem;" > 
        <i class="bi bi-search"></i></a>
      <button type="button" class="btn btn-danger" style=" margin-top: 1rem; margin-right: 2rem;">Invite</button>
    
        <img class="card_img" style="margin-top: 1rem; margin-right: 1rem;"
       
          src="../../assets/professional-mens-hairstyles-combed-min-1024x683.webp"
        
        />
    
  </div>

      
      
    </div>
<router-outlet></router-outlet>
